---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

Graph Signal Processing, Graduate Course, Fall Semester 2022
<br /> Introduction to Artificial Intelligence, Undergraduate Course, Spring Semester 2023
<br /> Mobile data analysis in competition and education, Undergraduate Course, Spring Semester 2023
<br /> Graph Signal Processing, Graduate Course, Fall Semester 2023
<br /> Introduction to Artificial Intelligence, Undergraduate Course, Spring Semester 2024